/* #17c57b */


.navbar > .container {
  margin: 0;
}

.navbar {
  margin-bottom: 0px;
  border: none;
}

.navbar-default {
  background-color: rgba(0,0,0,0);
  width: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.app-nav__item > a:hover {
  color: #24180E !important;
  text-shadow: 2px 1px 4px #dddddd;
}

.app-nav__item > a[aria-expanded="true"]{
  color: white !important;
  background-color: rgba(0,0,0,0.2) !important;
}

.app-nav__item > a {
  transition: color 0.5s ease;
  display: flex;
  color: #130000 !important;
  /* padding: 0 !important; */
  font-size: 24px;
  align-items: center;
  text-shadow: 1px 1px 1px #999999;
}

.app-nav__item > a > img {
  width: 42px;
  margin-right: 5px;
  border-radius: 2px;
}

.app-nav__item > a > img:hoover {
 box-shadow: 2px 2px 2px #aabbff;
}

.app-nav__item > a > .caret {
  display: none;
}

.header {
  background-color: rgba(0,0,0,0);
  background-image: none;
  background-repeat: repeat;
  min-height: 100px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'times', serif;
  position: relative;
  font-weight: bold;
  overflow: visiable;
}

.logo {
  height: 50px;
}

.navbar-header {
  height: 55px !important;
  padding: 0;
  display: flex;
  align-items: center;
}


@media only screen and (max-width: 1200px){

 img { 
 display: none;

 }
.header {
  background-color: rgba(0,0,0,0);
  background-image: none;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'times', serif;
  position: relative;
  font-weight: bold;
  overflow: visible;
}
	}
	
	
	@media only screen and (max-width: 780px){
		
		.logo {
 display: none;
}

		
.header {

  background-color: rgba(255,255,255,1);
  background-image: none;
  display: inline;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'times', serif;
  position: relative;
  font-weight: bold;
  overflow: visible;

}

.app-nav__item > a {
  transition: color 0.5s ease;
  display: block;
  color: #130000 !important;
  /* padding: 0 !important; */
  font-size: 16px;
  align-items: center;
  text-shadow: 1px 1px 1px #999999;
}
	
		}